/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

$font-family-sans-serif: "Fira Code";
$font-family-monospace: "Fira Code";

$primary: #45b2c6;
$body-bg: $primary;

/*-- scss:rules --*/

div.grid {
    align-items: center;
    height: 100%;
    font-size: 2.8em;
}

ul {
    list-style-type: circle;
    color: gray;
}

ul a { color: black; }
ul a:hover { color: #1B4E57; }

img {
    padding-top: 2em;
}

// body {
//     animation: clipmove 10s ease-in infinite;
// }

@keyframes clipmove {
    0% {
        clip-path: circle(10% at 0 0);
    }

    50% {
        clip-path: circle(80% at 100% 100%);
    }
}